body {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
    padding: 0;
    margin: 0;
}

#background__image {
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#container__login {
    background-color: black;
    width: 40vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: fixed;
    top: 5%;
    left: 30%;
    padding: 10px;
    border-radius: 20px;
}

.logo {
    width: 30%;
}

#container__nome, #container__email, #container__senha {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    width: 100%;
    text-align: left;
    padding: 20px;
    color: white;
}

.form {
    width: 60%;
}

.inputs {
    width: 90%;
    border: solid 2px #BF99E9;
    border-radius: 5px;
    padding: 10px;
    box-sizing: content-box;
}

#alts {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exibe {
    font-size: 0.9rem;
    margin: 20px;
    padding: 10px;
    color: white;
}

.cadastro {
    color: white;
    border-bottom: solid 1px #BF99E9;
    text-decoration: none;
    text-align: center;
    transition: .15s
}

.cadastro:hover {
    transform: scale(1.1);
    transition: .15s;
}

#cadastrobtn {
    display: flex;
    justify-content: center;
}

.cadastro_btn {
    width: 50%;
    border: none;
    background-color: #BF99E9;
    border: solid 1px black;
    padding: 10px;
    margin: 20px;
    transition: .2s;
}

.cadastro_btn:hover {
    transform: scale(1.1);
    color: white;
    background-color: black;
    border: solid 1px #BF99E9;
    transition: .2s;
}

@media (min-width: 340px) and (max-width: 1231px) {
    #background__image {
        display: none;
    }

    #container__login {
        justify-content: center;
        width: 100%;
        height: 100vh;
        position: relative;
        top: 0%;
        left: 0%;
        margin: 0;
        padding: 0;
        border-radius: 0;
    }

    .form {
        width: 100%;
    }

    .inputs {
        width: 50%;
    }

    span {
        width: 53%;
    }

    .cadastro_btn {
        width: 30%;
    }

}