html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: black;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
    padding: 0;
    margin: 0;
    cursor: url("../img/cursor.png"), auto;
}

main {
    display: flex;
    flex-direction: column;
}

#navbar {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

#barra_roxa {
    width: 100%;
    border-bottom: 1px solid #5A19A0;
}

.welcome {
    display: none;
    justify-content: center;
    border: solid 1px #5A19A0;
    padding: 10px;
    font-size: 1.1rem;
}

.logo {
    width: 30%;
    cursor: url("../img/cursor.png"), auto;
}

.hamburguer {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.hamburguer span {
    width: 1.8rem;
    height: 0.2rem;
    background: #BF99E9;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

#sidebar {
    position: fixed;
    top: 0;
    left: -260px;
    width: 250px;
    height: 100%;
    background-color: black;
    border-right: solid 3px #BF99E9;
    transition: left 0.3s ease;
}

.fechar {
    border: solid 1px #BF99E9;
    background-color: black;
    color: white;
    padding: 10px;
    position: relative;
    left: 220px;
}

.close {
    width: 10px;
}

.nav__link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}

.btn {
    background-color: black;
    border: none;
    font-weight: bold;
    font-size: 1rem;
}

.btn:hover {
    color: #5A19A0;
    border-bottom: 3px solid #5A19A0;
    transition: 0.3s;
    cursor: url("../img/cursor.png"), auto;
}

.sidebar__link {
    display: block;
    padding: 20px;
    color: #fff;
    border-bottom: solid 1px #BF99E9;
    text-decoration: none;
}

.sidebar-open {
    left: 0;
}

#navbar__itens {
    display: flex;
}

#navbar__itens a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    padding: 30px;
    border-bottom: 3px solid transparent;
    transition: 0.3s;
    vertical-align: center;
}

#navbar__itens a:hover {
    color: #5A19A0;
    border-bottom: 3px solid #5A19A0;
    transition: 0.3s;
    cursor: url("../img/cursor.png"), auto;
}

#apresentacao {
    width: 80%;
    height: 60vh;
    display: flex;
    align-items: end;
    margin: 0 auto;
}

.adm {
    color: white;
    text-align: center;

}

.apresentacao__title,
.apresentacao__texto,
.apresentacao__descricao {
    color: white;
}

.apresentacao__title {
    text-align: center;
    padding: 10px;
    background-color: #1D0E2E;
    color: #BF99E9;
    width: 30%;
    border-radius: 15px;
}

.apresentacao__texto {
    font-size: 3rem;
    width: 60%;
}

.apresentacao__descricao {
    text-align: justify;
    width: 60%;
    line-height: 1.5rem;
}

.apresentacao__img {
    width: 50%;
    transition: .2s;
}

.apresentacao__img:hover {
    transform: scale(1.1);
    transition: .2s;
}

#servicos {
    width: 80%;
    height: 60vh;
    display: flex;
    align-items: end;
    margin: 0 auto;
}

.servicos__title,
.servicos__texto,
.servicos__descricao {
    color: white;
}

.servicos__title {
    text-align: center;
    padding: 10px;
    background-color: #1D0E2E;
    color: #BF99E9;
    width: 10%;
    border-radius: 15px;
}

.servicos__texto {
    font-size: 3rem;
    width: 70%;
}

.servicos__descricao {
    text-align: justify;
    width: 60%;
    line-height: 1.5rem;
}

.servicos__img {
    width: 30%;
    transition: .2s;
}

.servicos__img:hover {
    transform: scale(1.1);
    transition: .2s;
}

#sobre {
    width: 80%;
    height: 60vh;
    display: flex;
    align-items: end;
    margin: 0 auto;
}

.sobre__title,
.sobre__texto,
.sobre__descricao {
    color: white;
}

.sobre__title {
    text-align: center;
    padding: 10px;
    background-color: #1D0E2E;
    color: #BF99E9;
    width: 15%;
    border-radius: 15px;
}

.sobre__texto {
    font-size: 3rem;
    width: 70%;
}

.sobre__descricao {
    text-align: justify;
    width: 60%;
    line-height: 1.5rem;
}

.sobre__img {
    width: 30%;
    transition: .2s;
}

.sobre__img:hover {
    transform: scale(1.1);
    transition: .2s;
}

.textos {
    width: 80%;
    height: 80%;
}

#desenvolvedores {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#desenvolvedores ul {
    padding: 10px;
    list-style: none;
    background-color: #5A19A0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.desenvolvedores__img {
    width: 40%;
    border-radius: 100px;
    transition: .15s;
}

.desenvolvedores__img:hover {
    transform: scale(1.1);
    transition: .15s;
}


.desenvolvedores__nome {
    font-size: 0.9rem;
    text-align: center;
    color: white;
}

.desenvolvedor__funcao {
    font-size: 0.8rem;
    text-align: center;
    color: white;
}

#contato {
    background-color: #272727;
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#fale {
    margin: 20px;
}

.contato__title,
.contato__texto,
.contato__descricao {
    color: white;
}

.contato__title {
    text-align: center;
    padding: 10px;
    background-color: #1D0E2E;
    color: #BF99E9;
    width: 15%;
    border-radius: 15px;
}

.contato__texto {
    font-size: 3rem;
    width: 80%;
}

.contato__descricao {
    text-align: justify;
    width: 65%;
    line-height: 1.5rem;
}

.botao__fale {
    text-decoration: none;
    padding: 15px;
    color: black;
    border-radius: 10px;
    font-weight: bold;
    background-color: #BF99E9;
    transition: .2s;
}

.botao__fale:hover {
    transform: scale(1.1);
    background-color: white;
    transition: .2s;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #5A19A0;
    margin-top: 15px;
}

footer p {
    text-align: center;
    color: white;
}

#btnTopo {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    background-color: black;
    color: #BF99E9;
    border: solid 1px #BF99E9;
    cursor: pointer;
    padding: 20px;
    border-radius: 1000px;
    font-size: 1.5rem;
}

#btnTopo:hover {
    background-color: white;
    color: black;
    transition: display .3s;
}

@media (min-width: 721px) and (max-width: 1024px) {

    .welcome {
        display: flex;
        color: white;
    }

    .nome {
        display: none;
    }

    .adm {
        display: none;
    }

    .logo {
        width: 100px;
    }

    .nav__link {
        font-size: 80%;
        white-space: nowrap;
    }

    .apresentacao__title,
    .servicos__title,
    .sobre__title,
    .contato__title {
        width: 50%;
    }

    #apresentacao,
    #servicos,
    #sobre {
        margin: 100px;
    }

    #desenvolvedores {
        margin-top: 100px;
    }
}

@media (min-width: 340px) and (max-width: 720px) {

    main {
        gap: 0rem
    }

    .adm {
        display: none;
    }

    .welcome {
        display: flex;
        color: white;
    }

    .hamburguer {
        display: flex;
    }

    .fechar {
        display: block;
    }

    .nav__link {
        display: none;
    }

    .sidebar__link.active {
        display: flex;
    }

    .logo {
        width: 100px;
    }

    .apresentacao__img,
    .servicos__img,
    .sobre__img {
        display: none;
    }

    #navbar__itens {
        display: flex;
    }

    #navbar__itens a {
        font-size: 0.8rem;
        padding: 20px;
    }

    .main__link {
        display: none;
    }

    .textos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    .apresentacao__texto,
    .servicos__texto,
    .sobre__texto,
    .contato__texto {
        width: 100%;
        font-size: 100%;
    }

    .apresentacao__title,
    .servicos__title,
    .sobre__title,
    .contato__title {
        width: 50%;
    }

    #sobre {
        margin-top: 50px;
    }

    #desenvolvedores {
        margin-top: 50px;
    }

    #desenvolvedores ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    #desenvolvedores ul li {
        margin: 10px;
    }

    .desenvolvedores__img {
        width: 40%;
    }

    .desenvolvedores__nome {
        font-size: 1rem;
    }

    .desenvolvedor__funcao {
        font-size: .8rem;
    }

    #fale {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #btnTopo {
        font-size: 1.5rem;
        padding: 10px;
        right: 10px;
    }
}