body {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
    padding: 0;
    margin: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container__content {
    display: flex;
    justify-content: space-between;
}

.backgroundimage {
    width: 50vw;
    height: 100vh;
}

#container__login {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    
}

.login_title,
.login_text {
    color: white;
}

.login_title {
    width: 60%;
    font-size: 2.5em;
    font-weight: 700;
}

.login_text {
    width: 70%;
    font-size: 1.5em;
    font-weight: 500;
}

#alts {
    margin-bottom: 10px;
}

.index,
.cadastro {
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid #5A19A0;
    padding: 10px;
    margin: 10px;
    transition: .2s
}

.index:hover,
.cadastro:hover {
    color: #5A19A0;
    border-bottom: 5px solid #5A19A0;
    transition: .2s;
}

.email_input,
.senha_input {
    width: 60%;
    height: 4vh;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}