body {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
    padding: 0;
    margin: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container__content {
    display: flex;
    justify-content: space-between;
}

.backgroundimage {
    width: 50vw;
    height: 100vh;
}

#container__login {
    margin: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.login_title,
.login_text {
    color: white;
}

.login_title {
    width: 60%;
    font-size: 2.5em;
    font-weight: 700;
}

.login_text {
    width: 70%;
    font-size: 1.5em;
    font-weight: 500;
}

#inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputs {
    width: 90%;
    border: solid 2px #BF99E9;
    border-radius: 5px;
    padding: 10px;
    box-sizing: content-box;
}

#alts {
    margin-bottom: 20px;
}

.index,
.cadastro {
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid #5A19A0;
    padding: 10px;
    margin: 10px;
    transition: .2s
}

.index:hover,
.cadastro:hover {
    color: #5A19A0;
    border-bottom: 5px solid #5A19A0;
    transition: .2s;
}

#links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.login_btn {
    width: 20%;
    border: none;
    background-color: #BF99E9;
    border: solid 1px black;
    padding: 10px;
    transition: .2s;
}

.login_btn:hover {
    transform: scale(1.1);
    color: white;
    background-color: black;
    border: solid 1px #BF99E9;
    transition: .2s;
}

.esqueceu {
    color: white;
    text-decoration: none;
    border-bottom: solid 1px #BF99E9;
    text-align: center;
    transition: .15s
}

.esqueceu:hover {
    transform: scale(1.1);
    transition: .15s;
}

@media (min-width: 340px) and (max-width: 1279px) {

    .backgroundimage {
        display: none;
    }

    #container__login {
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .inputs {
        max-width: 90%;
    }

}